body {
    font-family: Nunito Sans;
    font-size: 16px;
    line-height: 1.5;

    background-color: #111118;
    color: #ffffff;
    margin: 80px auto 48px auto;
    width: 1120px;
}

header {
    display: flex;

}

h1, nav {
    font-family: Josefin Sans;
    font-size: 40px;
    font-weight: 600;
}


a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 0 0 32px;
    transition: color 0.3s;
}

a:hover {
    /* To select a state in css use a colon. This line impacts navs when they're in a hover state */
    color: #f4bcbb;

}